*,
:before,
:after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
}
:before,
:after {
	--tw-content: "";
}
html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
		Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
	font-feature-settings: normal;
	font-variation-settings: normal;
	font-size: 14.3px;
	line-height: 1.5;
	--margin: 18px;
	--font-size: 14.3px;
	--line-height: 1.5;
	--color-text: #000000;
	--color-primary: #2563eb;
	--color-background: #ffffff;
}
body {
	margin: 0;
	line-height: inherit;
}
hr {
	height: 0;
	color: inherit;
	border-top-width: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
a {
	color: inherit;
	text-decoration: inherit;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
table {
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}
button,
select {
	text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	background-color: transparent;
	background-image: none;
}
:-moz-focusring {
	outline: auto;
}
:-moz-ui-invalid {
	box-shadow: none;
}
progress {
	vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
summary {
	display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
	margin: 0;
}
fieldset {
	margin: 0;
	padding: 0;
}
legend {
	padding: 0;
}
ol,
ul,
menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
dialog {
	padding: 0;
}
textarea {
	resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
	opacity: 1;
	color: #9ca3af;
}
button,
[role="button"] {
	cursor: pointer;
}
:disabled {
	cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	vertical-align: middle;
}
img,
video {
	max-width: 100%;
	height: auto;
}
[hidden] {
	display: none;
}
*,
:before,
:after {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x: ;
	--tw-pan-y: ;
	--tw-pinch-zoom: ;
	--tw-scroll-snap-strictness: proximity;
	--tw-gradient-from-position: ;
	--tw-gradient-via-position: ;
	--tw-gradient-to-position: ;
	--tw-ordinal: ;
	--tw-slashed-zero: ;
	--tw-numeric-figure: ;
	--tw-numeric-spacing: ;
	--tw-numeric-fraction: ;
	--tw-ring-inset: ;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgb(59 130 246 / 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur: ;
	--tw-brightness: ;
	--tw-contrast: ;
	--tw-grayscale: ;
	--tw-hue-rotate: ;
	--tw-invert: ;
	--tw-saturate: ;
	--tw-sepia: ;
	--tw-drop-shadow: ;
	--tw-backdrop-blur: ;
	--tw-backdrop-brightness: ;
	--tw-backdrop-contrast: ;
	--tw-backdrop-grayscale: ;
	--tw-backdrop-hue-rotate: ;
	--tw-backdrop-invert: ;
	--tw-backdrop-opacity: ;
	--tw-backdrop-saturate: ;
	--tw-backdrop-sepia: ;
}
.pointer-events-none {
	pointer-events: none;
}
.visible {
	visibility: visible;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.inset-0 {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.inset-x-0 {
	left: 0;
	right: 0;
}
.inset-y-0 {
	top: 0;
	bottom: 0;
}
.-left-px {
	left: -1px;
}
.-top-7 {
	top: -1.75rem;
}
.bottom-0 {
	bottom: 0;
}
.bottom-3 {
	bottom: 0.75rem;
}
.left-0 {
	left: 0;
}
.left-\[-4\.5px\] {
	left: -4.5px;
}
.right-0 {
	right: 0;
}
.top-0 {
	top: 0;
}
.top-\[8px\] {
	top: 8px;
}
.top-px {
	top: 1px;
}
.z-10 {
	z-index: 10;
}
.z-20 {
	z-index: 20;
}
.col-span-2 {
	grid-column: span 2 / span 2;
}
.col-span-3 {
	grid-column: span 3 / span 3;
}
.col-span-4 {
	grid-column: span 4 / span 4;
}
.col-start-2 {
	grid-column-start: 2;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.-ml-4 {
	margin-left: -1rem;
}
.mb-2 {
	margin-bottom: 0.5rem;
}
.ml-auto {
	margin-left: auto;
}
.mt-1 {
	margin-top: 0.25rem;
}
.mt-10 {
	margin-top: 2.5rem;
}
.mt-3 {
	margin-top: 0.75rem;
}
.inline-block {
	display: inline-block;
}
.flex {
	display: flex;
}
.grid {
	display: grid;
}
.hidden {
	display: none;
}
.\!h-screen {
	height: 100vh !important;
}
.h-1 {
	height: 0.25rem;
}
.h-1\.5 {
	height: 0.375rem;
}
.h-2 {
	height: 0.5rem;
}
.h-2\.5 {
	height: 0.625rem;
}
.h-3 {
	height: 0.75rem;
}
.h-\[42px\] {
	height: 42px;
}
.h-\[85px\] {
	height: 85px;
}
.h-\[8px\] {
	height: 8px;
}
.h-full {
	height: 100%;
}
.min-h-\[inherit\] {
	min-height: inherit;
}
.\!w-screen {
	width: 100vw !important;
}
.w-1 {
	width: 0.25rem;
}
.w-1\.5 {
	width: 0.375rem;
}
.w-2 {
	width: 0.5rem;
}
.w-3 {
	width: 0.75rem;
}
.w-4 {
	width: 1rem;
}
.w-5 {
	width: 1.25rem;
}
.w-6 {
	width: 1.5rem;
}
.w-\[128px\] {
	width: 128px;
}
.w-\[8px\] {
	width: 8px;
}
.w-full {
	width: 100%;
}
.\!max-w-none {
	max-width: none !important;
}
.flex-1 {
	flex: 1 1 0%;
}
.shrink-0 {
	flex-shrink: 0;
}
.grid-cols-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
.flex-col {
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}
.items-start {
	align-items: flex-start;
}
.items-center {
	align-items: center;
}
.justify-between {
	justify-content: space-between;
}
.gap-x-1 {
	-moz-column-gap: 0.25rem;
	column-gap: 0.25rem;
}
.gap-x-1\.5 {
	-moz-column-gap: 0.375rem;
	column-gap: 0.375rem;
}
.gap-x-6 {
	-moz-column-gap: 1.5rem;
	column-gap: 1.5rem;
}
.gap-y-2 {
	row-gap: 0.5rem;
}
.gap-y-3 {
	row-gap: 0.75rem;
}
.space-y-1 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.rounded {
	border-radius: 0.25rem;
}
.rounded-full {
	border-radius: 9999px;
}
.rounded-sm {
	border-radius: 0.125rem;
}
.border {
	border-width: 1px;
}
.border-2 {
	border-width: 2px;
}
.border-b {
	border-bottom-width: 1px;
}
.border-l {
	border-left-width: 1px;
}
.border-l-\[4px\] {
	border-left-width: 4px;
}
.border-r {
	border-right-width: 1px;
}
.border-t {
	border-top-width: 1px;
}
.border-dashed {
	border-style: dashed;
}
.border-background {
	border-color: var(--color-background);
}
.border-primary {
	border-color: var(--color-primary);
}
.bg-background {
	background-color: var(--color-background);
}
.bg-primary {
	background-color: var(--color-primary);
}
.bg-text {
	background-color: var(--color-text);
}
.bg-white {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.object-cover {
	-o-object-fit: cover;
	object-fit: cover;
}
.p-custom {
	padding: var(--margin);
}
.px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.px-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.pb-0 {
	padding-bottom: 0;
}
.pb-0\.5 {
	padding-bottom: 0.125rem;
}
.pb-2 {
	padding-bottom: 0.5rem;
}
.pb-3 {
	padding-bottom: 0.75rem;
}
.pb-5 {
	padding-bottom: 1.25rem;
}
.pb-7 {
	padding-bottom: 1.75rem;
}
.pl-4 {
	padding-left: 1rem;
}
.pr-2 {
	padding-right: 0.5rem;
}
.pt-2 {
	padding-top: 0.5rem;
}
.pt-2\.5 {
	padding-top: 0.625rem;
}
.pt-6 {
	padding-top: 1.5rem;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}
.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
.text-base {
	font-size: 1rem;
	line-height: 1.5rem;
}
.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.font-bold {
	font-weight: 700;
}
.font-medium {
	font-weight: 500;
}
.italic {
	font-style: italic;
}
.text-background {
	color: var(--color-background);
}
.text-primary {
	color: var(--color-primary);
}
.text-text {
	color: var(--color-text);
}
.text-white {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}
* {
	font-variant-ligatures: none;
	border-color: currentColor;
}
#root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#root.hide-icons .ph {
	display: none;
}
#root.underline-links a {
	text-decoration-line: underline;
	text-underline-offset: 2px;
}
.wysiwyg :is(:where(p):not(:where([class~="not-prose"], [class~="not-prose"] *))) {
	margin-top: 0;
	margin-bottom: 0.5rem;
	line-height: var(--line-height);
}
.group.sidebar .group-\[\.sidebar\]\:mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.group.sidebar .group-\[\.sidebar\]\:ml-0 {
	margin-left: 0;
}
.group.main .group-\[\.main\]\:block {
	display: block;
}
.group.sidebar .group-\[\.sidebar\]\:flex {
	display: flex;
}
.group.sidebar .group-\[\.sidebar\]\:hidden {
	display: none;
}
.group.sidebar .group-\[\.sidebar\]\:flex-col {
	flex-direction: column;
}
.group.sidebar .group-\[\.sidebar\]\:items-start {
	align-items: flex-start;
}
.group.main .group-\[\.main\]\:border-l {
	border-left-width: 1px;
}
.group.sidebar .group-\[\.sidebar\]\:border-background {
	border-color: var(--color-background);
}
.group.sidebar .group-\[\.sidebar\]\:bg-background {
	background-color: var(--color-background);
}
.group.main .group-\[\.main\]\:pl-4 {
	padding-left: 1rem;
}
.group.sidebar .group-\[\.sidebar\]\:pl-0 {
	padding-left: 0;
}
.group.sidebar .group-\[\.sidebar\]\:text-left {
	text-align: left;
}
.group.sidebar .group-\[\.sidebar\]\:text-center {
	text-align: center;
}
.group.sidebar .group-\[\.sidebar\]\:text-background {
	color: var(--color-background);
}
.group.sidebar .group-\[\.sidebar\]\:text-primary {
	color: var(--color-primary);
}
.group.summary .group-\[\.summary\]\:text-background {
	color: var(--color-background);
}
